<% content_for :breadcrumb do %>
  <%= render Admin::BreadcrumbComponent.new do |component| %>
    <% component.with_title do %> 
      <i class="fas fa-user-tie"></i> Cidadãos
    <% end %>
    <% component.with_link(name: 'Cidadãos', link: admin_cidadaos_path) %>
    <% component.with_link(name: 'Cidadão', link: admin_cidadao_path(@cidadao)) %>
    <% component.with_link(name: 'Galeria Animal', link: '#') %>
  <% end %>
<% end %>

<div class="row mb-3">
  <div class="col-md-12">
    <%= render partial: 'cidadao', locals: { cidadao: @cidadao } %>
  </div>
</div>

<%= 
  render partial: 'form_image', locals: {
    title: 'Animal',
    subtitle: 'Nova Imagem',
    action: create_image_admin_cidadao_animais_path(cidadao_id: @cidadao.id, id: @animal.id),
    method: 'put',
    model: @animal,
    back_url: admin_cidadao_path(@cidadao),
    submit_text: 'Salvar'
  } 
%>

<div class="card">
  <div class="card-header">
    <h3 class="card-title font-weight-bold text-uppercase">
      Animal <span class="badge badge-secondary">Imagens</span>
    </h3>
  </div>
  <div class="card-body">
    <div class="row row-cols-1 row-cols-md-4">
      <% if @animal.imagens.attached? %>
        <% @animal.imagens.each do |animal_imagem| %>
          <div class="col">
            <div class="card h-100">
              <%= image_tag animal_imagem.variant(:cover), class: 'card-img-top' %>
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
              </div>
              <div class="card-footer">
                <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>