<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0"><%= title %></h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <% links.each_with_index do |link, index| %>
            <li class="breadcrumb-item">
              <%= link_to link.name, link.link %>
            </li>
          <% end %>
        </ol>
      </div>
    </div>
  </div>
</div>