<% content_for :breadcrumb do %>
  <%= render Admin::BreadcrumbComponent.new do |component| %>
    <% component.with_title do %> 
      <i class="fas fa-tachometer-alt"></i> Dashboard
    <% end %>
  <% end %>
<% end %>
<!--
<div class="col-md-12">
  <div class="card card-widget widget-user">
    <div class="widget-user-header bg-info">
      <h3 class="widget-user-username"><%= current_usuario.nome %></h3>
      <h5 class="widget-user-desc">
        <% if current_usuario.usuario_perfis.any? %>
          <%= current_usuario.usuario_perfis.first.perfil.nome %>
        <% end %>
      </h5>
    </div>
    <div class="widget-user-image">
      <%= image_tag "usuario.png", class: "img-circle elevation-2", alt: "Usuário Avatar" %>
    </div>
    <div class="card-footer">
      <div class="row">
        <div class="col-sm-4 border-right">
          <div class="description-block">
            <h5 class="description-header">3,200</h5>
            <span class="description-text">SALES</span>
          </div>
        </div>
        <div class="col-sm-4 border-right">
          <div class="description-block">
            <h5 class="description-header">13,000</h5>
            <span class="description-text">FOLLOWERS</span>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="description-block">
            <h5 class="description-header">35</h5>
            <span class="description-text">PRODUCTS</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
-->