<% content_for :breadcrumb do %>
  <%= render Admin::BreadcrumbComponent.new do |component| %>
    <% component.with_title do %> 
      <i class="fas fa-tachometer-alt"></i> Dashboard
    <% end %>
  <% end %>
<% end %>

<div class="row">
  <div class="col-lg-4 col-12">
    <div class="small-box bg-vetmovel">
      <div class="inner text-white">
        <h3><%= @cidadaos %></h3>
        <p>Cidadãos</p>
      </div>
      <div class="icon">
        <i class="fas fa-user-tie"></i>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-12">
    <div class="small-box bg-vetmovel">
      <div class="inner text-white">
        <h3><%= @animais %></h3>
        <p>Animais</p>
      </div>
      <div class="icon">
        <i class="fas fa-paw"></i>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-12">
    <div class="small-box bg-vetmovel">
      <div class="inner text-white">
        <h3><%= @agendamentos %></h3>
        <p>Agendamentos</p>
      </div>
      <div class="icon">
        <i class="far fa-calendar-check"></i>
      </div>
    </div>
  </div>
</div>
