@import url("theme/dist/css/adminlte.css");
@import url("theme/plugins/fontawesome-free/css/all.css");

@font-face {
    font-family: 'Source Sans Pro';
    /* src: url('theme/fonts/static/SourceSans3-Regular.ttf') format('truetype'); */
    src: url('theme/fonts/static/SourceSans3-Regular.ttf') format('truetype');
}

.login-box, .register-box {
    width: 400px;
}