@import url("theme/dist/css/adminlte.css");
@import url("theme/plugins/fontawesome-free/css/all.css");

@font-face {
    font-family: 'Source Sans Pro';
    /* src: url('theme/fonts/static/SourceSans3-Regular.ttf') format('truetype'); */
    src: url('theme/fonts/static/SourceSans3-Regular.ttf') format('truetype');
}

.bg-pmf {
    background-color: #f7b93a !important;
}
  
.bg-vetmovel {
    background-color: #f47424 !important;
}

.btn-vetmovel {
    color: #fff;
    background-color: #8354d3;
    border-color: #8354d3;
    box-shadow: none;
}

.btn-vetmovel:focus, .btn-vetmovel.focus {
    color: #fff;
    background-color: #8354d3;
    border-color: #8354d3;
    box-shadow: 0 0 0 0 rgba(38, 143, 255, 0.5);
}

.limited-width {
    max-width: 150px; /* Ajuste este valor conforme necessário */
    word-wrap: break-word;
    white-space: normal;
}

.main-header {
    background-color: #d1e7dd;
}

.brand-link {
    background-color: #8354d3 !important;
}

.main-sidebar {
    background-color: #8354d3;
    color: #000 !important;
}

.card-primary.card-outline {
    border-top: 3px solid #8354d3;
}

.card-header {
    background-color: #d1e7dd;
    color: #009074;
}

.modal-header {
    background-color: #d1e7dd;
    color: #009074;
}

.modal-footer {
    background-color: #e9ecef;
}

.form-control:focus {
    box-shadow: 0 0 0 .25rem rgba(20, 255, 239, .25) !important;
    border: 1px solid #009074 !important;
}

.main-footer {
    background-color: #d1e7dd;
    /* background-color: #f7b93a; */
    border-top: 1px solid #dee2e6;
    /* color: #869099; */
    color: #198754;
    padding: 1rem;
    font-size: 13px;
}

